<div class="reduction">
  <div>
    <h1>{{ title }}</h1>
  </div>
  <div class="row">
    <div class="set_middle">
        start: <input type="date" name="start"> stop: <input type="date" name="stop">
    </div>
  </div>
  <div class="row">
    <div id="mapV" class="mapV"></div>
  </div>
  <div class="row">
    <div class="graph set_margin_middle set_middle">
      <div class="row">
        <div class="graph_1_1">
          <div id="graphV"></div>
        </div>
      </div>
    </div>
  </div>
</div>